
body{
    margin: 0;
    background-color:white
}

.navbar-brand{
    background-color: white;

}
.nav-link{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 1.5;
    line-height: 1.5;
    color:darkblue
}
.tbs{
    justify-content: center;
}

.crd{
    width:15rem;
}

.status{
    margin-top: 5px;
    margin-left: 25%;
    width: 50%;
}
.curr{
    margin-bottom: 5px;
    margin-left:25%;
    width:50%;
}
.txt{
    margin-left: 25%;
}
.wardroom{
    width:40rem;
    height: auto;
}
.grid{
    max-width: 55rem;
}
.cold{
    color: blue;
    font-weight: bold;
    font-size: 16px;
}
.warm{
    color:limegreen;
    font-weight: bold;
    font-size: 16px;
}
.hot{
    color: red;
    font-weight: bold;
    font-size: 16px;
}
